*.class

# Eclipse project files
.project
.settings
.classpath
target
bin

# Intellij project files
.idea
*.iml

# vim swap files
*.swp

# mac directory files
.DS_Store

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.apt_generated/
